In [1]:
import pandas as pd

Dir = "C:/Users/dwshi/Downloads/제주/csv파일/wifi_04_와이파이장소별방문자별사용량.csv"
data = pd.read_csv(Dir, encoding='UTF8')

In [2]:
data

,base_year_month,quarter,sex,age_range,visit_type,wifi_place_name,use_amount
0,201801,1분기,남성,10대,NaN,1코스,7726
1,201801,1분기,남성,10대,NaN,1코스 시작점,7726
2,201801,1분기,남성,10대,NaN,7-1코스,44175110
3,201801,1분기,남성,10대,NaN,7코스,642710
4,201801,1분기,남성,10대,NaN,GS25 서광점,725365
...,...,...,...,...,...,...,...
3004618,202012,4분기,여성,60대 이상,업무,삼무공원,62215
3004619,202012,4분기,여성,60대 이상,업무,삼무공원#1-1,27422
3004620,202012,4분기,여성,60대 이상,업무,삼성초등학교 #1-1,5604
3004621,202012,4분기,여성,60대 이상,업무,제주종합경기장 #2-1,75853
3004622,202012,4분기,여성,60대 이상,업무,제주종합경기장#1-1(애향운동장 공원),3120

In [11]:
data.sort_values('use_amount',ascending=False).head(30)

,base_year_month,quarter,sex,age_range,visit_type,wifi_place_name,use_amount
2950713,202011,4분기,남성,40대,관광,버스정류소_평대초등학교[서],2795210466373
2951273,202011,4분기,남성,40대,관광,평대초등학교(산)#1-1,2795210466373
1486824,202012,4분기,남성,40대,관광,평대초등학교(산)#1-1,1464531514376
1486377,202012,4분기,남성,40대,관광,버스정류소_평대초등학교[서],1464531514376
1168283,202004,2분기,남성,50대,업무,전기차충전소_성산읍사무소,1133228532119
2670214,202004,2분기,남성,50대,업무,성산읍사무소 #1-2,1133228532119
2694408,202005,2분기,남성,40대,거주,전기차충전소_대정 영어교육도시,953501477520
2694151,202005,2분기,남성,40대,거주,대정 영어교육도시,953501477520
1164298,202004,2분기,남성,40대,거주,전기차충전소_대정 영어교육도시,929509330316
1164030,202004,2분기,남성,40대,거주,대정 영어교육도시,929509330316
963295,201910,4분기,남성,40대,업무,우도-서빈백사해수욕장＃1-1,857297554972
963224,201910,4분기,남성,40대,업무,서빈백사해수욕장,857297554972
93095,201805,2분기,남성,40대,거주,중앙로 사거리#1-2,829358004738
92700,201805,2분기,남성,40대,거주,버스정류소_중앙로 사거리(동문시장)[동],829358004738
1459179,202011,4분기,여성,10대,관광,김만덕객주,824321698789
1459181,202011,4분기,여성,10대,관광,김만덕객주#1-3,824321225007
1410568,202010,4분기,남성,50대,업무,버스정류소_삼양종점[북],814658672114
2912976,202010,4분기,남성,50대,업무,삼양종점#1-1,814658672114
1221959,202006,2분기,남성,40대,거주,전기차충전소_대정 영어교육도시,796520448603
1221379,202006,2분기,남성,40대,거주,대정 영어교육도시,796520448603
1053191,201912,4분기,여성,40대,관광,김만덕객주,795935016233
1053193,201912,4분기,여성,40대,관광,김만덕객주#1-3,795717973742
2916934,202010,4분기,여성,10대,관광,김만덕객주,648928289899
2916936,202010,4분기,여성,10대,관광,김만덕객주#1-3,648927944864
2519613,201911,4분기,여성,40대,관광,김만덕객주,643006800398
2519615,201911,4분기,여성,40대,관광,김만덕객주#1-3,642207739743
2179490,201905,2분기,남성,40대,업무,한국야구명예전당,630025634772
2502317,201911,4분기,남성,40대,기타,제주권역재활병원,626299786559
622991,201904,2분기,남성,40대,업무,한국야구명예전당,593715295613
2322905,201907,3분기,여성,40대,관광,김만덕객주,532267809392

In [8]:
data.describe()

       base_year_month    use_amount
count     3.004623e+06  3.004623e+06
mean      2.019062e+05  7.613269e+08
std       7.691127e+01  6.169290e+09
min       2.018010e+05  2.800000e+01
25%       2.018110e+05  1.337750e+06
50%       2.019060e+05  3.002407e+07
75%       2.020030e+05  2.535683e+08
max       2.020120e+05  2.795210e+12

In [49]:
def finder(line):
    if line.find('코스') > 0:
        return 1
    else:
        return 0

data['코스여부'] = data.apply(lambda x:finder(x.wifi_place_name), axis=1)

In [54]:
data[data.코스여부 == 1].use_amount.sum()

89065464172499